@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* Global Styles */
:root {
	--primary-color: #dc3545;
	--dark-color: #333333;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #fff;
	color: #333;
}
